@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scale-in-bl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
.navbar-content-dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111144;
  padding: 0.3em 0.6em;
  transition: background 0.35s ease-in-out;
}
.navbar-content-dark .navbar-title {
  display: flex;
  align-items: center;
}
.navbar-content-dark .navbar-title .navbar-logo {
  -webkit-animation: rotate-center 6.5s linear infinite both;
  animation: rotate-center 6.5s linear infinite both;
}
.navbar-content-dark .navbar-title h1 {
  color: #ffffff;
  margin-left: 0.5em;
  font-size: clamp(1.1rem, 4vw, 1.6rem);
}
@supports not (font-size: clamp(1.1rem, 4vw, 1.6rem)) {
  .navbar-content-dark .navbar-title h1 {
    font-size: min(6vw, 1.5rem);
  }
}
.navbar-content-dark .navbar-items {
  display: flex;
  align-items: center;
}
.navbar-content-dark .navbar-items .navbar-items-user {
  display: none;
}

.navbar-content-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7289da;
  padding: 0.3em 0.6em;
  transition: background 0.35s ease-in-out;
}
.navbar-content-light .navbar-title {
  display: flex;
  align-items: center;
}
.navbar-content-light .navbar-title .navbar-logo {
  -webkit-animation: rotate-center 6.5s linear infinite both;
  animation: rotate-center 6.5s linear infinite both;
}
.navbar-content-light .navbar-title h1 {
  color: #ffffff;
  margin-left: 0.5em;
  font-size: clamp(1.1rem, 4vw, 1.6rem);
}
@supports not (font-size: clamp(1.1rem, 4vw, 1.6rem)) {
  .navbar-content-light .navbar-title h1 {
    font-size: min(6vw, 1.5rem);
  }
}
.navbar-content-light .navbar-items {
  display: flex;
  align-items: center;
}
.navbar-content-light .navbar-items .navbar-items-user {
  display: none;
}

@media (min-width: 42em) {
  .navbar-content-dark {
    padding: 0.45em 1.5em;
  }
  .navbar-content-dark .navbar-title h1 {
    font-size: 1.8rem;
  }
  .navbar-content-dark .navbar-items .nav-icon {
    display: none;
  }
  .navbar-content-dark .navbar-items .navbar-items-user {
    display: flex;
    align-items: center;
  }

  .navbar-content-light {
    padding: 0.45em 1.5em;
  }
  .navbar-content-light .navbar-title h1 {
    font-size: 1.8rem;
  }
  .navbar-content-light .navbar-items .nav-icon {
    display: none;
  }
  .navbar-content-light .navbar-items .navbar-items-user {
    display: flex;
    align-items: center;
  }
}
.navbar-content-wrapper-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-content-wrapper-dark .navbar-logout {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background 0.35s ease-in-out;
  cursor: pointer;
  padding: 0.8em;
}
.navbar-content-wrapper-dark .navbar-logout:hover {
  background: #222222;
}
.navbar-content-wrapper-dark .navbar-logout h2 {
  color: #ffffff;
}

.navbar-content-wrapper-light {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-content-wrapper-light .navbar-logout {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background 0.35s ease-in-out;
  cursor: pointer;
  padding: 0.8em;
}
.navbar-content-wrapper-light .navbar-logout:hover {
  background: #d0ccd0;
}
.navbar-content-wrapper-light .navbar-logout h2 {
  color: #000000;
}

.modal-content-wrapper {
  position: relative;
  top: 50%;
  -webkit-animation: scale-in-center 0.45s ease-in-out both;
  animation: scale-in-center 0.45s ease-in-out both;
}

.modal-content-dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #37474f;
  padding: 2em;
  width: min(80%, 30em);
  text-align: center;
  outline: none !important;
}
.modal-content-dark .modal-button-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  margin-top: 1.5em;
}
.modal-content-dark h1 {
  color: #ffffff;
  font-size: clamp(1.7rem, 3vw, 2.2rem);
}
@supports not (font-size: clamp(1.7rem, 3vw, 2.2rem)) {
  .modal-content-dark h1 {
    font-size: min(9vw, 1.8rem);
  }
}

.modal-content-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dee4e7;
  padding: 2em;
  width: min(80%, 30em);
  text-align: center;
  outline: none !important;
}
.modal-content-light .modal-button-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  margin-top: 1.5em;
}
.modal-content-light h1 {
  color: #000000;
  font-size: clamp(1.7rem, 3vw, 2.2rem);
}
@supports not (font-size: clamp(1.7rem, 3vw, 2.2rem)) {
  .modal-content-light h1 {
    font-size: min(9vw, 1.8rem);
  }
}

.user-message-wrapper-dark {
  display: flex;
  padding-top: 1em;
  transition: background 0.35s ease-in-out;
  -webkit-animation: scale-in-bl 0.6s ease-in-out both;
  animation: scale-in-bl 0.6s ease-in-out both;
}
.user-message-wrapper-dark .user-avatar {
  margin-left: 0.8em;
}
.user-message-wrapper-dark .user-avatar img {
  width: 3em;
  border-radius: 50px;
}
.user-message-wrapper-dark .user-message-content {
  margin-left: 0.8em;
}
.user-message-wrapper-dark .user-message-content .user-info-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-message-wrapper-dark .user-message-content .user-info-display .user-name {
  font-size: clamp(1rem, 3vw, 1.15rem);
  word-break: break-word;
  padding-right: 2.8em;
  font-weight: bold;
  color: #fafafa;
  transition: color 0.35s ease-in-out;
}
@supports not (font-size: clamp(1rem, 3vw, 1.15rem)) {
  .user-message-wrapper-dark .user-message-content .user-info-display .user-name {
    font-size: min(5.5vw, 1.1rem);
  }
}
.user-message-wrapper-dark .user-message-content .user-info-display .user-message-time-sent {
  font-size: 0.85rem;
  color: #d0ccd0;
  transition: color 0.35s ease-in-out;
  align-self: flex-start;
}
.user-message-wrapper-dark .user-message-content .user-message {
  margin-top: 0.5em;
  padding-bottom: 1em;
  font-size: clamp(1rem, 3vw, 1.15rem);
  color: #ffffff;
  word-break: break-word;
  padding-right: 1.1em;
  line-height: 1.55em;
  transition: color 0.35s ease-in-out;
}
@supports not (font-size: clamp(1rem, 3vw, 1.15rem)) {
  .user-message-wrapper-dark .user-message-content .user-message {
    font-size: min(5.5vw, 1.1rem);
  }
}
.user-message-wrapper-dark:hover {
  background: #333333;
  transition: background 0.35s ease-in-out;
}

.user-message-wrapper-light {
  display: flex;
  padding-top: 1em;
  transition: background 0.35s ease-in-out;
  -webkit-animation: scale-in-bl 0.6s ease-in-out both;
  animation: scale-in-bl 0.6s ease-in-out both;
}
.user-message-wrapper-light .user-avatar {
  margin-left: 0.8em;
}
.user-message-wrapper-light .user-avatar img {
  width: 3em;
  border-radius: 50px;
}
.user-message-wrapper-light .user-message-content {
  margin-left: 0.8em;
}
.user-message-wrapper-light .user-message-content .user-info-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-message-wrapper-light .user-message-content .user-info-display .user-name {
  font-size: clamp(1rem, 3vw, 1.15rem);
  word-break: break-word;
  padding-right: 2.8em;
  font-weight: bold;
  color: #000000;
  transition: color 0.35s ease-in-out;
}
@supports not (font-size: clamp(1rem, 3vw, 1.15rem)) {
  .user-message-wrapper-light .user-message-content .user-info-display .user-name {
    font-size: min(5.5vw, 1.1rem);
  }
}
.user-message-wrapper-light .user-message-content .user-info-display .user-message-time-sent {
  font-size: 0.85rem;
  color: #baa898;
  transition: color 0.35s ease-in-out;
  align-self: flex-start;
}
.user-message-wrapper-light .user-message-content .user-message {
  margin-top: 0.5em;
  padding-bottom: 1em;
  font-size: clamp(1rem, 3vw, 1.15rem);
  color: #000000;
  word-break: break-word;
  padding-right: 1.1em;
  line-height: 1.55em;
  transition: color 0.35s ease-in-out;
}
@supports not (font-size: clamp(1rem, 3vw, 1.15rem)) {
  .user-message-wrapper-light .user-message-content .user-message {
    font-size: min(5.5vw, 1.1rem);
  }
}
.user-message-wrapper-light:hover {
  background: #d0ccd0;
  transition: background 0.35s ease-in-out;
}

@media (min-width: 42em) {
  .user-message-wrapper-dark .user-message-content .user-info-display {
    flex-direction: row;
    align-items: center;
  }
  .user-message-wrapper-dark .user-message-content .user-info-display .user-name {
    padding-right: 0em;
  }
  .user-message-wrapper-dark .user-message-content .user-info-display .user-message-time-sent {
    margin-left: 0.5em;
    align-self: center;
  }
  .user-message-wrapper-dark .user-message-content .user-message {
    margin-top: 0.3em;
  }

  .user-message-wrapper-light .user-message-content .user-info-display {
    flex-direction: row;
    align-items: center;
  }
  .user-message-wrapper-light .user-message-content .user-info-display .user-name {
    padding-right: 0em;
  }
  .user-message-wrapper-light .user-message-content .user-info-display .user-message-time-sent {
    margin-left: 0.5em;
    align-self: center;
  }
  .user-message-wrapper-light .user-message-content .user-message {
    margin-top: 0.3em;
  }
}
.bg-dark {
  background: #222222;
  transition: background 0.35s ease-in-out;
}

.bg-light {
  background: #fffded;
  transition: background 0.35s ease-in-out;
}

.channel-wrapper {
  display: flex;
  justify-content: center;
}

.channel-content {
  display: flex;
  flex-direction: column;
  width: min(90%, 45em);
}
.channel-content .channel-form-wrapper {
  display: flex;
  justify-content: center;
}
.channel-content .channel-messages-dark {
  background: #4b3d60;
  transition: background 0.35s ease-in-out;
  height: 75vh;
  margin-top: 1.5em;
  overflow: auto;
}
.channel-content .channel-messages-light {
  background: #dee4e7;
  transition: background 0.35s ease-in-out;
  height: 75vh;
  margin-top: 1.5em;
  overflow: auto;
}

.bg-sign-in {
  background: url("../assets/sign-in-bg.jpg"), linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: multiply;
}

.sign-in-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 4em auto;
}

.sign-in-content-dark {
  background: #37474f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5em;
  width: min(80%, 28em);
  transition: background 0.35s ease-in-out;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}
.sign-in-content-dark .sign-in-logo {
  -webkit-animation: rotate-center 6.5s linear infinite both;
  animation: rotate-center 6.5s linear infinite both;
}
.sign-in-content-dark .sign-in-title {
  margin-top: 0.5em;
}
.sign-in-content-dark .sign-in-title h1 {
  color: #ffffff;
  font-size: clamp(1.4rem, 3vw, 2rem);
  transition: color 0.35s ease-in-out;
}
@supports not (font-size: clamp(1.4rem, 3vw, 2rem)) {
  .sign-in-content-dark .sign-in-title h1 {
    font-size: min(8.5vw, 2rem);
  }
}
.sign-in-content-dark .sign-in-darkmode-toggle {
  margin-top: 4em;
}

.sign-in-content-light {
  background: #dee4e7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5em;
  width: min(80%, 28em);
  transition: background 0.35s ease-in-out;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}
.sign-in-content-light .sign-in-logo {
  -webkit-animation: rotate-center 6.5s linear infinite both;
  animation: rotate-center 6.5s linear infinite both;
}
.sign-in-content-light .sign-in-title {
  margin-top: 0.5em;
}
.sign-in-content-light .sign-in-title h1 {
  color: #000000;
  font-size: clamp(1.4rem, 3vw, 2rem);
  transition: color 0.35s ease-in-out;
}
@supports not (font-size: clamp(1.4rem, 3vw, 2rem)) {
  .sign-in-content-light .sign-in-title h1 {
    font-size: min(8.5vw, 2rem);
  }
}
.sign-in-content-light .sign-in-darkmode-toggle {
  margin-top: 4em;
}

@media (min-width: 42em) {
  .sign-in-wrapper {
    height: 100vh;
    margin: 0em;
  }
}
.initializing-wrapper-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222222;
}
.initializing-wrapper-dark .initializing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #37474f;
  padding: 2em;
  width: min(80%, 30em);
}
.initializing-wrapper-dark .initializing-content .initializing-title {
  text-align: center;
  margin-top: 2em;
}
.initializing-wrapper-dark .initializing-content .initializing-title h1 {
  color: #ffffff;
  font-size: clamp(1.4rem, 3vw, 1.9rem);
}
@supports not (font-size: clamp(1.4rem, 3vw, 1.9rem)) {
  .initializing-wrapper-dark .initializing-content .initializing-title h1 {
    font-size: min(8vw, 1.9rem);
  }
}

.initializing-wrapper-light {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fffded;
}
.initializing-wrapper-light .initializing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dee4e7;
  padding: 2em;
  width: min(80%, 30em);
}
.initializing-wrapper-light .initializing-content .initializing-title {
  text-align: center;
  margin-top: 2em;
}
.initializing-wrapper-light .initializing-content .initializing-title h1 {
  color: #000000;
  font-size: clamp(1.4rem, 3vw, 1.9rem);
}
@supports not (font-size: clamp(1.4rem, 3vw, 1.9rem)) {
  .initializing-wrapper-light .initializing-content .initializing-title h1 {
    font-size: min(8vw, 1.9rem);
  }
}

/*# sourceMappingURL=Home.module.css.map */
